@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --background: #0f0e17;
    --foreground: #161925;
    --primary: #FAA916;
    --primaryo: rgba(250, 169, 22, 0.2);
    --secondary: #f25f4c;
    --secondaryo: rgba(242, 95, 76, 0.2);
    --primarytext: #cccbcb;
    --secondarytext: #a7a9be;
    --black: #000000;
    --kofi: #FF5E5B;
    --badgeok:  color: #a5a5a5;
    --badgeoko: rgba(165, 165, 165, 0.3);
    --badgeuse: #24be28;
    --badgeuseo: rgba(36, 190, 40, 0.3);
    --kbdshadow: #464646;
}

html[data-theme='light'] {
    --background: #d4d4d4;
    --foreground: #161925;
    --primary: #FAA916;
    --primaryo: rgba(250, 169, 22, 0.2);
    --foreground: #161925;
    --primarytext:#161925;
    --secondarytext: #a7a9be;
    --black: #000000;
    --kofi: #FF5E5B;
    --kbdshadow: #868686 ;
}

html[data-theme='dark'] {
    --background: #0f0e17;
    --foreground: #161925;
    --primary: #FAA916;
    --primaryo: rgba(250, 169, 22, 0.2);
    --secondary: #f25f4c;
    --secondaryo: rgba(242, 95, 76, 0.2);
    --primarytext: #cccbcb;
    --secondarytext: #a7a9be;
    --black: #000000;
    --kofi: #FF5E5B;
    --ok:  color: #a5a5a5;
    --oko: rgba(165, 165, 165, 0.3);
    --use: #24be28;
    --useo: rgba(36, 190, 40, 0.3);
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--primarytext);
    font-family: "Ubuntu", Arial, sans-serif;
    font-size: 16px;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul li a {
    display: block;
    width: 100%;
}

.text-light {
    color: var(--primarytext);
}

.navbar {
    background-color: var(--background);
    color: #17242c;
    font-weight: 600;
    border-width: 2px !important;
    border-color: var(--black) !important;
}

.navbar-brand,
.nav-link {
    color: var(--primarytext);
}

.navbar-brand img {
    width: auto;
    height: 40px;
}

a.navbar-brand {
    color: var(--primary) !important;
}

.navbar .nav-item {
    background-color: var(--foreground);
    margin: 4px;
    border: 2px solid var(--black) !important;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.nav-item.border:hover {
    background: var(--primary) !important;
    color: var(--black);
}

.navbar .nav-item:hover .nav-link{
    color: var(--black);
}

.navbar .nav-item.download {
    background-color: var(--primary)!important;
    color: var(--black);
}

.navbar .nav-item.download a.nav-link {
    color: var(--black) !important;
}

/* Navbar toggler

.navbar-toggler.navbar-toggler {
    border-color: rgb(23, 36, 44);
    border-width: 2px;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(23, 36, 44)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

*/

.sticky-top {
    top: 0.5em;
    z-index: 1;
}

/* Sidebar */
.sidebar {
    font-weight: 600;
    width: 100%;
    max-width: 260px;
    background-color: var(--background);
}

.sidebar,
.sidebar span,
.sidebar a {
    color: var(--primarytext);
    text-decoration: none;
}

.sidebar-hover {
    border-width: 2px !important;
    border-color: var(--black) !important;
    border-radius: 4px;
    background-color: var(--foreground);
    cursor: pointer;
}


.sidebar-hover:hover a{
    color: var(--black);
}

.sidebar-hover:hover {
    background-color: var(--primary);
    color: var(--black);
}

.sidebar-hover a:hover{
    color: var(--black);
}

.sidebar-hover[aria-expanded=true] .bi-arrow-right-short::before {
    transform: rotate(90deg);
    transition: all .2s ease;
}

.sidebar-hover[aria-expanded=false] .bi-arrow-right-short::before {
    transition: all .2s ease;
}

/* sidebar kofi button */

.sidebar .kofi {
    background: var(--kofi);
    color: var(--black);
    position: fixed;
    bottom: 0;
    width: 15rem;
}

.sidebar .kofi:hover {
    opacity: 0.8;
}

/* sidebar kofi ends */

.link-arrow {
    height: 16px;
}

/* Tags CSS */
.tags {
    display: flex;
}

.tag {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

.tag:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--foreground);
    color: var(--primarytext);
}

.tag:last-child {
    margin-left: 0px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--primaryo);
    color: var(--primary)!important;
}

/* tag end */

/* Alert */
.alert-danger {
    color: #000;
    background-color: var(--primary);
    border-width: 2px !important;
    border-color: #000;
}

/* Alert Ends */

/* Badges */

.badge.bg-recommended {
    background-color: var(--primaryo)!important;
    color: var(--primary)!important;
}

.badge.bg-ignore {
    background-color: var(--secondaryo)!important;
    color: var(--secondary)!important;
}

.badge.bg-use {
    background-color: var(--useo)!important;
    color: var(--badgeuse)!important;
}

.badge.bg-ok {
    background-color: var(--oko)!important;
    color: var(--badgeok)!important;
}

/* Badges Ends */

/* Code Copy */

kbd {
    margin: 2px;
    box-shadow: #464646 2px 2px;
}

[data-theme='light'] kbd {
    box-shadow: #868686 2px 2px;
}

pre {
    border: 1px solid var(--foreground);
    border-radius: 0.2em;
}

code {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

.hljs {
    background: var(--foreground)!important;
}

div.highlight {
    position: relative;
}

div.highlight button {
    color: var(--primarytext);
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    background: var(--background);
    border: 1px solid var(--black);
    padding: 5px 10px;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2em;
    margin: 5px;
}

div.highlight button:hover {
    opacity: 0.8;
}

.bi-clipboard::before {
    vertical-align: middle;
}

/* Scrollbar */

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}